@import url("reset.css");
@import url(variaveis.css);
@import url(botoes.css);
@font-face {
  font-family: "Aula19";
  src: url("/assets/Cutive_Mono/CutiveMono-Regular.ttf") format("truetype");
}
body {
  display: grid;
  grid-template-columns: auto 300px}
.navegacao {
  background-color: blueviolet;
  grid-column: span 2;
  height: 64px;
}
.banner {
  background-color: cadetblue;
  grid-column: span 2;
  height: calc(100vh - 64px);
}
.corpo {
  background-color: aquamarine;
  height: 800px;
}
.sidebar {
  background-color: blue;
  padding: 16px 32px;
}
.rodape {
  background-color: chocolate;
  grid-column: span 2;
  height: 300px;
}
input {
 height: 32px;
 padding: 0 8px;
 border-radius: 4px;
 border-width: 2px;
 border-color: var(--border-color-input);
 color: var(--text-color-input);
}
input::placeholder{
 color:#aaaaaa
}
input:focus-visible {
  outline: 0;
  border-color: var(--border-color-input-focus);
  
}
input:disabled {
  border: none;
  background-color: gray;
  cursor:not-allowed
}

button:disabled {
  cursor: not-allowed;
}
.navegacao:hover {
  background-color: blue;
}

.btn_primary {
  background-color: blueviolet;
  color: white;
}
.btn {
  height: 32px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
}

.btn_perigo {
  background-color: red;
  color: white;
}

.btn_pequeno {
  height: 24px;
}

/*BEM - Bloco elemento modificador*/
/*Bloco*/ 

.c_card {
  background-color: white;
  border-radius: 4px;
  padding: 16px;

}

.c_card_titulo {
font-size: 28px;
margin: 8px 0;
}

.c_card_texto {
  margin: 8px 0;

}

.c_card_botao {

  height: 32px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
  background-color: blueviolet;
  color: white;
}
.c_card_botao--disabled {
  height: 32px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
  background-color: #aaaaaa;
  color: gray;
  cursor: not-allowed;
}

code {
  font-family: "Aula19";
}